html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
